<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Palestine</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="One page parallax responsive HTML Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Bingo HTML Template v1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="https://i.pinimg.com/564x/94/56/53/945653c6640163ed19c061b4f9c51292.jpg" />

  <!-- CSS
  ================================================== -->
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="/plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href="/plugins/lightbox2/css/lightbox.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="/plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="/plugins/slick/slick.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/css/style.css">

</head>
<body id="body">

  <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class='preloader'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!--
  End Preloader
  ==================================== -->

<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light px-0">
      <!-- logo -->
      <a class="navbar-brand logo" href="/">
		<img loading="lazy" class="logo-white" src="images/logo.png" alt="logo" width="50" height="50" />
		<img loading="lazy" class="logo-default" src="https://i.pinimg.com/564x/ea/10/42/ea1042321bb4365ca553d890c2417d1b.jpg" alt="logo" width="50" height="50" />
		
      </a>
      <!-- /logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
		<ul class="navbar-nav ml-auto text-center">
		  <li class = "nav-item" id="home">
			<a class="nav-link" href="#">Homepage</a>
		  </li>
		  <li class="nav-item" id="about">
			  <a class="nav-link" href="#">About Us</a>
			</li>
			<li class="nav-item" id="palestine">
			  <a class="nav-link" href="#">Palestine</a>
			</li>
			<li class="nav-item" id="support">
			  <a class="nav-link"  href="#">Support</a>
			</li>
			<li class="nav-item" id="login">
				<a class="nav-link"  href="#">Users</a>
			</li>
			<li class="nav-item" id="logout">
				<a class="nav-link" id="logout-link" href="#">Logout</a>
			</li>
		</ul>
	  </div>
	</nav>
    <!-- /main nav -->
  </div>
</header>
<!--
End Fixed Navigation
==================================== -->

<section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>About Us</h2>
				<ol class="breadcrumb header-bradcrumb justify-content-center">
					<li class="breadcrumb-item"><a href="/" class="text-white">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">About Us</li>
				</ol>
			</div>
		</div>
	</div>
</section>



<section class="company-mission section-sm bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Our Mission</h3>
				<p>Through this website, we hope to create a comprehensive overview of the culture and history in Palestine. Beyond religion and geopolitics, Palestine is richness
					with culture, love for life, and history. This website is a way for people to know more about who the Palestinain people are, especially in a time of great turbulence
					and the dehumanization of Arabs and Palestinians.
				</p>
				<img loading="lazy" src="images/company/company-image-2.jpg" alt="" class="img-fluid mt-30">
			</div>
			<div class="col-md-6 mt-5 mt-md-0">
				<h3>Our Vision</h3>
				<p>This website contains pictures from the Palestine archive, and facts from historcial books that is agreed upon by most historians. We find that creating this website in the midst of this
					can help people be more open minded towards understanding different perspectives, whether now, or in general.
				</p>
				<img loading="lazy" src="images/company/company-image-3.jpg" alt="" class="img-fluid mt-30">
			</div>
		</div>
	</div>
</section>
<br>


<section class="about-shot-info section-sm">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mt-20">
				<h2 class="mb-3">Who are we?</h2>
				<p>We are a group of Information Systems students from different areas in the world, joined together by this academic pursuit and interests.</p>
				<p>Each coming from different perspectives, different experiences, we have been able to create value in all of our projects while learning more about IS.</p>
				<p>We hope that this website informs people about who Palestinians are, and envourages dialgoue.
				</p>
			</div>
			<div class="col-lg-6 mt-4 mt-lg-0">
				<img loading="lazy" class="img-fluid" src="images/company/company-image.jpg" alt="">
			</div>
		</div>
	</div>
</section>

<!-- Start Our Team
		=========================================== -->
<section class="team" id="team">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center ">
					<h2>Our Team</h2>
					<p>Our team is formed of 4 IS Studnets, 3 of which are international students. Hence, we named ourselves the MultiNationals. Get to know more about us:</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>
		<div class="row">
			<!-- team member -->
			<div class="col-lg-3 col-md-3">
				<div class="team-member text-center">

					<!-- member name & designation -->
					<div class="member-content">
						<h3>Zein Mosarsaa</h3>
						<span>IS Student</span>
						<p>Zein is a an IS Student from Palestine.</p>
					</div>
					<!-- /member name & designation -->

				</div>
			</div>
			<!-- end team member -->

			<!-- team member -->
			<div class="col-lg-3 col-md-3">
				<div class="team-member text-center">

					<!-- member name & designation -->
					<div class="member-content">
						<h3>Fletcher Williams</h3>
						<span>IS Student</span>
						<p>Fletcher is an IS Student from Australia.</p>
					</div>
					<!-- /member name & designation -->
				</div>
			</div>
			<!-- end team member -->
			<div class="col-lg-3 col-md-3">
				<div class="team-member text-center">

					<!-- member name & designation -->
					<div class="member-content">
						<h3>Ezekiel Goodman</h3>
						<span>IS Student</span>
						<p>Ezekiel (Zeke) is an IS student from the United States. </p>
					</div>
					<!-- /member name & designation -->
				</div>
			</div>

			<!-- team member -->
			<div class="col-lg-3 col-md-3">
				<div class="team-member text-center">

					<!-- member name & designation -->
					<div class="member-content">
						<h3>Benjamin Zapata</h3>
						<span>IS Student</span>
						<p>Benjamin is an IS Student from Chile.</p>
					</div>
					<!-- /member name & designation -->

				</div>
			</div>
			<!-- end team member -->
			
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->


<footer id="footer" class="bg-one">
	<div class="top-footer">
	  <div class="container">
		<div class="row justify-content-around">
		  <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
			<h3>about</h3>
			<p>The richness of the history and culture of Palestine is still preserved today, this website showcases this beautiful history.</p>
		  </div>
		  <!-- End of .col-sm-3 -->
  
		  <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
			  <ul>
				  <li>
					<h3>Quick Links</h3>
				  </li>
				  <li><a href="/about">About</a></li>
				  <li><a href="/palestine">Palestine</a></li>
				  <li><a href="/contact">Contact</a></li>
				  <li><a href="404.html">404</a></li>
				</ul>
		  </div>
		  <!-- End of .col-sm-3 -->
  
		  <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
			  <ul>
				  <li>
					<h3>Connect with the IS Department</h3>
				  </li>
				  <li><a href="https://marriott.byu.edu/infosys/">Marriott School Website</a></li>
				  <li><a href="https://marriott.byu.edu/infosys/admissions/bsis/admission-criteria/">Admissions Information</a></li>
				  <li><a href="https://ais.byu.edu/">AIS Webpage</a></li>
				</ul>
		  </div>
		  <!-- End of .col-sm-3 -->
  
		</div>
	  </div> <!-- end container -->
	</div>
	<div class="footer-bottom">
	  <h5>&copy; Copyright 2023. All rights reserved.</h5>
	</div>
  </footer> <!-- end footer -->
  


<!-- end Footer Area
========================================== -->

<!-- 
    Essential Scripts
    =====================================-->
<!-- Main jQuery -->
<!-- Main jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap4 -->
<script src="/plugins/bootstrap/bootstrap.min.js"></script>
<!-- Parallax -->
<script src="/plugins/parallax/jquery.parallax-1.1.3.js"></script>
<!-- lightbox -->
<script src="/plugins/lightbox2/js/lightbox.min.js"></script>
<!-- Owl Carousel -->
<script src="/plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="/plugins/filterizr/jquery.filterizr.min.js"></script>
<!-- Smooth Scroll js -->
<script src="/plugins/smooth-scroll/smooth-scroll.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
<script src="/plugins/google-map/gmap.js"></script>

<!-- Custom js -->
<script src="/js/script.js"></script>
<script src="/js/triggers.js"></script>

</body>

</html>