<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Palestine: A Cultural View</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="One page parallax responsive HTML Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Bingo HTML Template v1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="https://i.pinimg.com/564x/94/56/53/945653c6640163ed19c061b4f9c51292.jpg"/>

  <!-- CSS
  ================================================== -->
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href="plugins/lightbox2/css/lightbox.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">


</head>
<body id="body">

  <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class='preloader'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!--
  End Preloader
  ==================================== -->

<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light px-0">
      <!-- logo -->
      <a class="navbar-brand logo" href="/">
		<img loading="lazy" class="logo-white" src="images/logo.png" alt="logo" width="50" height="50" />
		<img loading="lazy" class="logo-default" src="https://i.pinimg.com/564x/ea/10/42/ea1042321bb4365ca553d890c2417d1b.jpg" alt="logo" width="50" height="50" />
		
      </a>
      <!-- /logo -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
		  <li class = "nav-item">
			<a class="nav-link" href = "#">Homepage</a>
		  </li>
          <li class="nav-item ">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/palestine">Palestine</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/support">Support Palestine</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
		  
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <!-- /main nav -->
  </div>
</header>
<!--
End Fixed Navigation
==================================== -->

<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area" style="background-image: url(https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/1/3/55297_ca_object_representations_media_1300_large.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Palestine Historically and Culturally<br>
					</h1>
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">We are utilizing this webpage
						and the resources we have to introduce you to Palestine <br> From a historical and cultural perspective
						 <br></p>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
						href="/about">Learn More About Us!</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/1/3/38342_ca_object_representations_media_1312_large.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Photos <br> and
						Culture</h1>
					<p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5"> We are using historical photos
						from the Palestinian Digital Archive
						<br> as it perserves our history.</p>
					<a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
						href="https://palarchive.org/" target = "_blank">Visit the archive</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
Start About Section
==================================== -->
<section class="service-2 section">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-6">
        <!-- section title -->
        <div class="title text-center">
          <h2>Why are we doing this?</h2>
          <div class="border"></div>


        </div>
        <!-- /section title -->
      </div>
    </div>
    <div class="row">

      <div class="col-md-4 text-center d-none d-md-block">
        <img loading="lazy" src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/1/1/9/8/56355_ca_object_representations_media_119835_large.jpg" class="img-fluid inline-block" alt="">
      </div>
      <div class="col-md-8">
        <div class="row text-center">
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
				<i class="tf-ion-ios"><span>&#9998;</span></i>
              <h4>Preservation of culture and history</h4>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-search-strong"></i>
              <h4>Showcase who Palestinians are.</h4>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios"><span>&#9996;</span></i>
              <h4>Show support to Palestinians globally.</h4>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-book-outline"></i>
              <h4>Offer resources to those who are unaware.</h4>
            </div>
          </div><!-- END COL -->
        </div>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- End section -->

<!--
Start About Section
==================================== -->

<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <h3>about</h3>
          <p>The richness of the history and culture of Palestine is still preserved today, this website showcases this beautiful history.</p>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
			<ul>
				<li>
				  <h3>Quick Links</h3>
				</li>
				<li><a href="/palestine">About</a></li>
				<li><a href="/palestine">Palestine</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/404">404</a></li>
			  </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
          <ul>
            <li>
            <h3>Connect with the IS Department</h3>
            </li>
            <li><a href="https://marriott.byu.edu/infosys/">Marriott School Website</a></li>
            <li><a href="https://marriott.byu.edu/infosys/admissions/bsis/admission-criteria/">Admissions Information</a></li>
            <li><a href="https://ais.byu.edu/">AIS Webpage</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>&copy; Copyright 2023. All rights reserved.</h5>
  </div>
</footer> <!-- end footer -->


<!-- end Footer Area
========================================== -->
<!-- 
    Essential Scripts
    =====================================-->
<!-- Main jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap4 -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- Parallax -->
<script src="plugins/parallax/jquery.parallax-1.1.3.js"></script>
<!-- lightbox -->
<script src="plugins/lightbox2/js/lightbox.min.js"></script>
<!-- Owl Carousel -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/filterizr/jquery.filterizr.min.js"></script>
<!-- Smooth Scroll js -->
<script src="plugins/smooth-scroll/smooth-scroll.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
<script src="plugins/google-map/gmap.js"></script>

<!-- Custom js -->
<script src="js/script.js"></script>

</body>

</html>
