<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Palestine: A Cultural View</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="One page parallax responsive HTML Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Bingo HTML Template v1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="https://i.pinimg.com/564x/94/56/53/945653c6640163ed19c061b4f9c51292.jpg"/>

  <!-- CSS
  ================================================== -->
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href="plugins/lightbox2/css/lightbox.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/css/style.css">
 <style>
  .btn-outline {
    border-color: #50050d;
  }
 </style>
</head>
<body id="body">

  <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class='preloader'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!--
  End Preloader
  ==================================== -->

<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top">
    <div class="container">
      <!-- main nav -->
      <nav class="navbar navbar-expand-lg navbar-light px-0">
        <!-- logo -->
        <a class="navbar-brand logo" href="/">
      <img loading="lazy" class="logo-white" src="/images/logo.png" alt="logo" width="50" height="50" />
      <img loading="lazy" class="logo-default" src="https://i.pinimg.com/564x/ea/10/42/ea1042321bb4365ca553d890c2417d1b.jpg" alt="logo" width="50" height="50" />
      
        </a>
        <!-- /logo -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
          <li class = "nav-item" id="home">
            <a class="nav-link" href="#">Homepage</a>
          </li>
          <li class="nav-item" id="about">
            <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item" id="palestine">
            <a class="nav-link" href="#">Palestine</a>
            </li>
            <li class="nav-item" id="support">
            <a class="nav-link"  href="#">Support</a>
            </li>
            <li class="nav-item" id="login">
              <a class="nav-link"  href="#">Users</a>
            </li>
            <li class="nav-item" id="logout">
              <a class="nav-link" id="logout-link" href="#">Logout</a>
            </li>
          </ul>
        </div>
        </nav>
      <!-- /main nav -->
    </div>
  </header>
  <% if (loggedIn == 'true') 
  { %>

    
    <div class="cotn_principal justify-content-center" >
      <div class="align-items-center" style="padding-top: 180px; padding-right: 340px;">
        <div class="content-wrapper full-page-wrapper d-flex">
          <div class="card col-lg-4 mx-auto" style="background-color: rgba(139, 88, 88, 0);">
            <div class="cont_forms px-5 py-5" style="background-color: rgba(139, 88, 88, 0.897); height:fit-content" >
              <h3 class="card-title text-left mb-3" style="color: black;" >You are already logged in!</h3>
                <form action="/logout" method="post">          
                  <div class="form-group" >
                    <button type="submit" class="btn btn-primary btn-block enter-btn btn-outline" style="background-color: #50050d;">Logout</button>
                  </div>
                </form>
                  <form action="/seeRequests" method="get">
                  <div class="form-group" >
                    <button type="submit" class="btn btn-primary btn-block enter-btn btn-outline" style="margin-top:10px; background-color: #50050d;">See Report</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
      </div>
      
      <!-- page-body-wrapper ends -->
  <% }
  else if (loggedIn == 'username')
  { %>
    <div class="cotn_principal justify-content-center" >
      <div class="align-items-center" style="padding-top: 180px; padding-right: 340px;">
        <div class="content-wrapper full-page-wrapper d-flex">
          <div class="card col-lg-4 mx-auto" style="background-color: rgba(139, 88, 88, 0);">
            <div class="cont_forms px-5 py-5" style="background-color: rgba(139, 88, 88, 0.897); height:fit-content" >
                <h3 class="card-title text-left mb-3" style="color: black;" >Login</h3>
                <form action="/login" method="post">
                  <div class="form-group">
                    <label>Username *</label>
                    <input required autofocus type="text" class="form-control p_input" id="username" name="username">
                  </div>
                  <p class="text-danger" style="margin-bottom: 0px;"><small>*Incorrect Username</small></p>
                  <div class="form-group">
                    <label>Password *</label>
                    <input required type="password" class="form-control p_input" name="password" id="password">
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn btn-outline" style="margin-top: 10px; background-color: #50050d;">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
  <% }
  else if (loggedIn == 'password')
  { %>
    <div class="cotn_principal justify-content-center" >
      <div class="align-items-center" style="padding-top: 180px; padding-right: 340px;">
        <div class="content-wrapper full-page-wrapper d-flex">
          <div class="card col-lg-4 mx-auto" style="background-color: rgba(139, 88, 88, 0);">
            <div class="cont_forms px-5 py-5" style="background-color: rgba(139, 88, 88, 0.897); height:fit-content" >
                <h3 class="card-title text-left mb-3" style="color: black;" >Login</h3>
                <form action="/login" method="post">
                  <div class="form-group">
                    <label>Username *</label>
                    <input required autofocus type="text" class="form-control p_input" id="username" name="username">
                  </div>
                  <div class="form-group">
                    <label>Password *</label>
                    <input required type="password" class="form-control p_input" name="password" id="password">
                  </div>
                  <p class="text-danger" style="margin-bottom: 0px;"><small>*Incorrect Password</small></p>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn btn-outline" style="margin-top: 10px; background-color: #50050d;">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
  <% }
  
  else 
  {%>
    <div class="cotn_principal justify-content-center" >
      <div class="align-items-center" style="padding-top: 180px; padding-right: 340px;">
        <div class="content-wrapper full-page-wrapper d-flex">
          <div class="card col-lg-4 mx-auto" style="background-color: rgba(139, 88, 88, 0);">
            <div class="cont_forms px-5 py-5" style="background-color: rgba(139, 88, 88, 0.897); height:fit-content" >
              <h3 class="card-title text-left mb-3" style="color: black;" >Login</h3>
              <form action="/login" method="post">
                <div class="form-group">
                  <label>Username *</label>
                  <input required autofocus type="text" class="form-control p_input" id="username" name="username">
                </div>
                <div class="form-group">
                  <label>Password *</label>
                  <input required type="password" class="form-control p_input" name="password" id="password">
                </div>
              
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn btn-outline" style="margin-top: 36px; background-color: #50050d;">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
    <% }
%>


<!-- 
    Essential Scripts
    =====================================-->
<!-- Main jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap4 -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- Parallax -->
<script src="plugins/parallax/jquery.parallax-1.1.3.js"></script>
<!-- lightbox -->
<script src="plugins/lightbox2/js/lightbox.min.js"></script>
<!-- Owl Carousel -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/filterizr/jquery.filterizr.min.js"></script>
<!-- Smooth Scroll js -->
<script src="plugins/smooth-scroll/smooth-scroll.min.js"></script>

<!-- Custom js -->
<script src="js/script.js"></script>
<script src="/js/triggers.js"></script>

</body>

</html>

<!-- old version
 <div class="cotn_principal">
   <div class="cont_centrar">
     <div class="cont_login">
       <div class="cont_info_log_sign_up">
         <div class="col_md_login">
           <div class="cont_ba_opcitiy">
             <h2>LOGIN</h2>
             <p>Login using your email and password!</p>
             <button class="btn_login" onclick="change_to_login()">LOGIN</button>
           </div>
         </div>
         <div class="col_md_sign_up">
           <div class="cont_ba_opcitiy">
             <h2>SIGN UP</h2>
             <p>If you do not have an account registered, please sign up!</p>
             <button class="btn_sign_up" onclick="change_to_sign_up()">SIGN UP</button>
           </div>
         </div>
       </div>
       <div class="cont_back_info">
         <div class="cont_img_back_grey">
           <img src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/1/3/56037_ca_object_representations_media_1312_original.jpg" alt="" />
         </div>
       </div>
       <div class="description">
         <p>Hi, this is the IS Core MultiNational team! For our website, we wanted to create a space where Palestinians can ask for help and resources, and people can offer their help/resources. This was inspired by the recent conflict and Palestinian civilians' inability to access water, food, and normal resources that we are lucky to have. In order to be a part of this global cause, please sign up or sign in above!</p>
       </div>
       <div class="cont_forms">
         <div class="cont_img_back_">
           <img src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/1/3/56037_ca_object_representations_media_1312_original.jpg" alt="" />
         </div>
         <div class="cont_form_login" id="loginForm">
           <a href="#" onclick="hidden_login_and_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
           <h2>LOGIN</h2>
           <form action="/" method="POST" id="loginForm">
             <input type="text" placeholder="Email" />
             <input type="password" placeholder="Password" />
             <button type="button" class="btn_login" onclick="handleLogin()">LOGIN</button>
           </form>
         </div>


        
         <div class="cont_form_sign_up">
           <a href="#" onclick="hidden_login_and_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
           <h2>SIGN UP</h2>
           <form action="#" method="POST" id="signupForm">
             <input type="text" placeholder="Email" />
             <input type="text" id="username" placeholder="User" />
             <input type="password" placeholder="Password" />
             <input type="password" placeholder="Confirm Password" />
             <button type="button" class="btn_sign_up" onclick="handleSignUp()">SIGN UP</button>
           </form>
         </div>
       </div>
       <br>
       <br>
     </div>
    
   </div>
 </div>
 -->