<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Login Page</title>
 <link rel="stylesheet" href="./css/style.css">
 <link rel="stylesheet" href="./css/login.css">
 <script src="./js/login.js"></script>
 <link rel="shortcut icon" type="image/x-icon" href="https://i.pinimg.com/564x/94/56/53/945653c6640163ed19c061b4f9c51292.jpg"/>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
  <% if (loggedIn == 'true') 
  { %>

    
    <div class="cotn_principal">
      <div class="align-items-center" style="padding-top: 180px; padding-right: 340px;">
        <div class="content-wrapper full-page-wrapper d-flex">
          <div class="card col-lg-4 mx-auto" style="background-color: rgba(72, 1, 1, 0.897);">
            <div class="cont_forms px-5 py-5" style="background-color: rgba(139, 88, 88, 0.897);" >
              <h3 class="card-title text-left mb-3" style="color: black;" >You are already logged in!</h3>
              <p class="text-center" style="color:rgb(37, 1, 1)">Would you like to log out?</p>
                <form action="/logout" method="post">          
                  <div class="form-group" >
                    <button type="submit" class="btn btn-primary btn-block enter-btn">Logout</button>
                  </div>
                </form>
                  <form action="/seeRequests" method="get">
                  <div class="form-group" >
                    <button type="submit" class="btn btn-primary btn-block enter-btn" style="margin-top:10px">See Report</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
  <% }
  else if (loggedIn == 'username')
  { %>
    <div class="cotn_principal">
      <div class="align-items-center" style="padding-top: 180px; padding-right: 370px;">
        <div class="content-wrapper full-page-wrapper d-flex">
          <div class="card col-lg-4 mx-auto" style="background-color: rgba(72, 1, 1, 0.897);">
            <div class="cont_forms px-5 py-5" style="background-color: rgba(139, 88, 88, 0.897); height: 325px" >
                <h3 class="card-title text-left mb-3" style="color: black;" >Login</h3>
                <form action="/login" method="post">
                  <div class="form-group">
                    <label>Username *</label>
                    <input required autofocus type="text" class="form-control p_input" id="username" name="username">
                  </div>
                  <p class="text-danger" style="margin-bottom: 0px;"><small>*Incorrect Username</small></p>
                  <div class="form-group">
                    <label>Password *</label>
                    <input required type="password" class="form-control p_input" name="password" id="password">
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn" style="margin-top: 10px;">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
  <% }
  else if (loggedIn == 'password')
  { %>
    <div class="cotn_principal">
      <div class="align-items-center" style="padding-top: 180px; padding-right: 370px;">
        <div class="content-wrapper full-page-wrapper d-flex">
          <div class="card col-lg-4 mx-auto" style="background-color: rgba(72, 1, 1, 0.897);">
            <div class="cont_forms px-5 py-5" style="background-color: rgba(139, 88, 88, 0.897); height: 325px" >
                <h3 class="card-title text-left mb-3" style="color: black;" >Login</h3>
                <form action="/login" method="post">
                  <div class="form-group">
                    <label>Username *</label>
                    <input required autofocus type="text" class="form-control p_input" id="username" name="username">
                  </div>
                  <div class="form-group">
                    <label>Password *</label>
                    <input required type="password" class="form-control p_input" name="password" id="password">
                  </div>
                  <p class="text-danger" style="margin-bottom: 0px;"><small>*Incorrect Password</small></p>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn" style="margin-top: 10px;">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
  <% }
  
  else 
  {%>
   <div class="cotn_principal">
      <div class="align-items-center" style="padding-top: 180px; padding-right: 370px;">
        <div class="content-wrapper full-page-wrapper d-flex">
          <div class="card col-lg-4 mx-auto" style="background-color: rgba(72, 1, 1, 0.897);">
            <div class="cont_forms px-5 py-5" style="background-color: rgba(139, 88, 88, 0.897); height: 325px" >
              <h3 class="card-title text-left mb-3" style="color: black;" >Login</h3>
              <form action="/login" method="post">
                <div class="form-group">
                  <label>Username *</label>
                  <input required autofocus type="text" class="form-control p_input" id="username" name="username">
                </div>
                <div class="form-group">
                  <label>Password *</label>
                  <input required type="password" class="form-control p_input" name="password" id="password">
                </div>
              
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn" style="margin-top: 36px;">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
    <% }
%>
<!-- plugins:js -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/js/off-canvas.js"></script> 
<script src="/js/hoverable-collapse.js"></script> 
<script src="/js/misc.js"></script> 
<script src="/js/settings.js"></script> 
<script src="/js/todolist.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/js/triggerGets.js"></script>
<!-- endinject -->
</body>
</html>

<!-- old version
 <div class="cotn_principal">
   <div class="cont_centrar">
     <div class="cont_login">
       <div class="cont_info_log_sign_up">
         <div class="col_md_login">
           <div class="cont_ba_opcitiy">
             <h2>LOGIN</h2>
             <p>Login using your email and password!</p>
             <button class="btn_login" onclick="change_to_login()">LOGIN</button>
           </div>
         </div>
         <div class="col_md_sign_up">
           <div class="cont_ba_opcitiy">
             <h2>SIGN UP</h2>
             <p>If you do not have an account registered, please sign up!</p>
             <button class="btn_sign_up" onclick="change_to_sign_up()">SIGN UP</button>
           </div>
         </div>
       </div>
       <div class="cont_back_info">
         <div class="cont_img_back_grey">
           <img src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/1/3/56037_ca_object_representations_media_1312_original.jpg" alt="" />
         </div>
       </div>
       <div class="description">
         <p>Hi, this is the IS Core MultiNational team! For our website, we wanted to create a space where Palestinians can ask for help and resources, and people can offer their help/resources. This was inspired by the recent conflict and Palestinian civilians' inability to access water, food, and normal resources that we are lucky to have. In order to be a part of this global cause, please sign up or sign in above!</p>
       </div>
       <div class="cont_forms">
         <div class="cont_img_back_">
           <img src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/1/3/56037_ca_object_representations_media_1312_original.jpg" alt="" />
         </div>
         <div class="cont_form_login" id="loginForm">
           <a href="#" onclick="hidden_login_and_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
           <h2>LOGIN</h2>
           <form action="/" method="POST" id="loginForm">
             <input type="text" placeholder="Email" />
             <input type="password" placeholder="Password" />
             <button type="button" class="btn_login" onclick="handleLogin()">LOGIN</button>
           </form>
         </div>


        
         <div class="cont_form_sign_up">
           <a href="#" onclick="hidden_login_and_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
           <h2>SIGN UP</h2>
           <form action="#" method="POST" id="signupForm">
             <input type="text" placeholder="Email" />
             <input type="text" id="username" placeholder="User" />
             <input type="password" placeholder="Password" />
             <input type="password" placeholder="Confirm Password" />
             <button type="button" class="btn_sign_up" onclick="handleSignUp()">SIGN UP</button>
           </form>
         </div>
       </div>
       <br>
       <br>
     </div>
    
   </div>
 </div>
 -->