<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Palestine</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="One page parallax responsive HTML Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Bingo HTML Template v1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

  <!-- CSS
  ================================================== -->
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href="plugins/lightbox2/css/lightbox.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">

</head>
<body id="body">

  <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class='preloader'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!--
  End Preloader
  ==================================== -->

<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top">
	<div class="container">
	  <!-- main nav -->
	  <nav class="navbar navbar-expand-lg navbar-light px-0">
		<!-- logo -->
		<a class="navbar-brand logo" href="/">
			<img loading="lazy" class="logo-white" src="images/logo.png" alt="logo" width="50" height="50" />
			<img loading="lazy" class="logo-default" src="https://i.pinimg.com/564x/ea/10/42/ea1042321bb4365ca553d890c2417d1b.jpg" alt="logo" width="50" height="50" />
			
		  </a>
		<!-- /logo -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
		  aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
  
		<div class="collapse navbar-collapse" id="navigation">
			<ul class="navbar-nav ml-auto text-center">
			  <li class = "nav-item" id="home">
				<a class="nav-link" href="#">Homepage</a>
			  </li>
			  <li class="nav-item" id="about">
				  <a class="nav-link" href="#">About Us</a>
				</li>
				<li class="nav-item" id="palestine">
				  <a class="nav-link" href="#">Palestine</a>
				</li>
				<li class="nav-item" id="support">
				  <a class="nav-link"  href="#">Support</a>
				</li>
				<li class="nav-item" id="login">
					<a class="nav-link"  href="#">Users</a>
				</li>
				<li class="nav-item" id="logout">
					<a class="nav-link" id="logout-link" href="#">Logout</a>
				</li>
			</ul>
		  </div>
		</nav>
	  <!-- /main nav -->
	</div>
  </header>
  <!--
  End Fixed Navigation
  ==================================== -->
  

<section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Palestine</h2>
				<ol class="breadcrumb header-bradcrumb justify-content-center">
					<li class="breadcrumb-item"><a href="/" class="text-white">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Palestine</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<!-- Start Services Section
==================================== -->

<section class="about-shot-info section-sm">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 text-center">
				<img loading="lazy" src="https://www.palestinianhistorytapestry.org/wp-content/uploads/2019/04/beforemap.png" class="img-fluid inline-block" alt="">
			</div>
			<div class="col-lg-6 mt-20">
				<h2 class="mb-3">What is Palestine? Where is it located?</h2>
				<p>Palestine is a country located between the three continents; Asia, Europe and Africa. Palestine is marked 
					by the religious, cultural and geopolitical significance of the land within that region. The picture to the left depicts Palestine prior to 1948.
				</p>
				<p>Palestine is known for its rich culture, the handmade clothing (tatreez), Oranges from Yafa, Glass from Hebron, and Olives from Ramallah.</p>
				<p>One of the most colonized areas on earth, Palestine continues to be a symbol of hope for indigenous people around the world. Continues to be a religious symbol for communities around the world,
					and continues to hold a symbol of resistance as it resists its occupation.
				</p>
			</div>
		</div>
	</div>
</section>

<!-- Start Team Skills
=========================================== -->
<section class="section gallery">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center">
					<h2>Photos of historic Palestine</h2>
						<div class="border"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="company-gallery">
					<img loading="lazy" src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/1/3/22387_ca_object_representations_media_1304_large.jpg" alt="">
					<img loading="lazy" src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/1/1/1/4/7598_ca_object_representations_media_111490_large.jpg" alt="">
					<img loading="lazy" src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/1/3/7/76275_ca_object_representations_media_13773_large.jpg" alt="">
					<img loading="lazy" src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/1/4/0/7/40444_ca_object_representations_media_140780_large.jpg" alt="">
					<img loading="lazy" src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/1/3/1/48778_ca_object_representations_media_13152_large.jpg" alt="">
					<img loading="lazy" src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/2/2/9/11795_ca_object_representations_media_22952_large.jpg" alt="">
					<img loading="lazy" src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/1/4/0/7/89630_ca_object_representations_media_140783_large.jpg" alt="">
					<img loading="lazy" src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/6/2/12370_ca_object_representations_media_6212_large.jpg" alt="">
					<img loading="lazy" src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/6/2/61956_ca_object_representations_media_6221_large.jpg" alt="">
					<img loading="lazy" src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/2/3/21683_ca_object_representations_media_2335_large.jpg" alt="">
					<img loading="lazy" src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/6/3/44682_ca_object_representations_media_6359_large.jpg" alt="">
					<img loading="lazy" src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/6/3/73526_ca_object_representations_media_6362_large.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="about-shot-info section-sm">
	<div class="container">
		
		<div class="row">
			<div class="col-lg-6 text-center">
				<img loading="lazy" src="https://d7rm5xoig729r.cloudfront.net/collectiveaccess/images/2/2/3/5/80134_ca_object_representations_media_223588_large.jpg" class="img-fluid inline-block" alt="">
			  </div>
			
			<div class="col-lg-6 mt-20">
				
				<h2 class="mb-3">What is the religion in Palestine?</h2>
				<p>Religiously, Palestine is home to the 3 Abrahamic religions, Christiany, Judaism and Islam. Palestine is 
					regarded as a holy site for these three religions. 
				</p>
				<p>However, the leading religion within Palestine is Islam. You can see Islamic culture mixed in with the Palestinian culture
					especially in clothes and modesty.
				</p>
				<p>However, freedom of religion and practicing of that religion is a pivotal part of Palestinian culture. Christian, Muslim, and Jewish Palestinians 
					live alongisde each other within the West Bank and Gaza. They pray, fast, and celebrate festivities together!
				</p>
				
			</div>
			
		</div>
	</div>
</section>

<section class="company-mission section-sm bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Palestinian People</h3>
				<p>Palestines cultural heritage is deeply intertwined with its geographical position, serving as a crossroads for various civilizations, including the Canaanites, Phoenicians, Romans, Byzantines, and Arabs. 
					The Palestinian culture is notably characterized by its traditional music, dance, cuisine, and intricate handcrafted art. 
					The Palestinian people have a strong sense of identity rooted in their history, particularly shaped by events like the Israeli Occupation and the ongoing struggle for freedom. 
					The ancient city of Jerusalem, with its religious significance to Islam, Christianity, and Judaism, stands as a symbol of the region's historical and cultural significance. 
					Despite the challenges faced by the Palestinian people, their resilience and commitment to preserving their cultural heritage continue to play a crucial role in shaping the identity of this vibrant and historically significant land.</p>
				<img loading="lazy" src="images/company/company-image-2.jpg" alt="" class="img-fluid mt-30">
			</div>
			<div class="col-md-6 mt-5 mt-md-0">
				<h3>1948 Brief History</h3>
				<p>In 1948, a pivotal and tumultuous period in Palestinian history unfolded, known as the Nakba or "catastrophe." 
					During this time, the Haganah, a Zionist paramilitary organization operating in Palestine prior to the establishment of the State of Israel, played a significant role in the displacement and expulsion of Palestinian Arab communities. 
					Alongside other militant groups, the Haganah executed a strategic plan to secure territory for the establishment of the Israeli state. 
					This plan involved the forceful removal and destruction of Palestinian villages, leading to the displacement and death of hundreds of thousands of Palestinians.</p>
				<img loading="lazy" src="images/company/company-image-3.jpg" alt="" class="img-fluid mt-30">
			</div>
		</div>
	</div>
</section>

<section class="about-shot-info section-sm">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mt-20 mx-auto">
				<h2 class="mb-3">The Current Crisis</h2>
				<p>After the 2021 and 2022 wars on Gaza, and the mass arrests in the West Bank, Palestinians are currently still facing the aftermath of those wars.</p>
				<p>Currently, people in Gaza are not only facing a humanitarian crisis with the limited to no access to food, water and electiricity after the Israeli Occupation cut them off, but they are also facing an existential threat as they are being targeted and carpet bombed.</p>
				<p>Every person in this world has the right to exist in the place they wish to, indigenous people have the right to their homes and lands, and as do Palestinians. We must do everything in our power to call for a ceasefire, and bring in humanitarian aid to Gaza.
				</p>
			</div>
		</div>
	</div>
</section>


		


	<footer id="footer" class="bg-one">
		<div class="top-footer">
		  <div class="container">
			<div class="row justify-content-around">
			  <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
				<h3>about</h3>
				<p>The richness of the history and culture of Palestine is still preserved today, this website showcases this beautiful history.</p>
			  </div>
			  <!-- End of .col-sm-3 -->
	  
			  <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
				  <ul>
					  <li>
						<h3>Quick Links</h3>
					  </li>
					  <li><a href="/about">About</a></li>
					  <li><a href="/palestine">Palestine</a></li>
					  <li><a href="/contact">Contact</a></li>
					  <li><a href="404.html">404</a></li>
					</ul>
			  </div>
			  <!-- End of .col-sm-3 -->
	  
			  <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
				<ul>
					<li>
					  <h3>Connect with the IS Department</h3>
					</li>
					<li><a href="https://marriott.byu.edu/infosys/">Marriott School Website</a></li>
					<li><a href="https://marriott.byu.edu/infosys/admissions/bsis/admission-criteria/">Admissions Information</a></li>
					<li><a href="https://ais.byu.edu/">AIS Webpage</a></li>
				  </ul>
			</div>
			  <!-- End of .col-sm-3 -->
	  
			</div>
		  </div> <!-- end container -->
		</div>
		<div class="footer-bottom">
		  <h5>&copy; Copyright 2023. All rights reserved.</h5>
		</div>
	  </footer> <!-- end footer -->
	  


<!-- end Footer Area
========================================== -->
<!-- 
    Essential Scripts
    =====================================-->
<!-- Main jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap4 -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!-- Parallax -->
<script src="plugins/parallax/jquery.parallax-1.1.3.js"></script>
<!-- lightbox -->
<script src="plugins/lightbox2/js/lightbox.min.js"></script>
<!-- Owl Carousel -->
<script src="plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="plugins/filterizr/jquery.filterizr.min.js"></script>
<!-- Smooth Scroll js -->
<script src="plugins/smooth-scroll/smooth-scroll.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
<script src="plugins/google-map/gmap.js"></script>

<!-- Custom js -->
<script src="js/script.js"></script>
<script src="/js/triggers.js"></script>

</body>

</html>